/*mobile */
	
@media(min-width:320px){

/*header section*/
.container{
  width:100%;
  margin:auto;
}
.maindivimage{
  height:33vh;
}
.head-nav{
  display: none;
}

/*about section*/
.about-container{
  width:100%;
}
.about-row{
  width:100%;
  display:flex;
}
.about-col{
  width:100%;
  padding:0 10px;
}

/*service section*/
.service-container{
  margin:auto;
  display:flex;
  flex-wrap:wrap;
}
.service-row{
  width:100%;
}
.service-col{
  padding:20px 30px;
  width:60%;
}
.service-container h2{
  text-align:center;
  padding:30px;
}
.service-container h3{
  text-align:center;
  padding:10px;
  font-size:22px;
}
.service-container p{
  font-size:30px;
  text-indent:15%;
  margin-bottom:20px;
}

/*portfolio section*/

.portfolio-row{
  display:flex;
  flex-wrap:wrap;
  padding-right:9px;
}
.portfolio-col{
  width:80%;
  position:relative;
}
  
/*team section*/

.team-container{
  width:100%;
  margin:auto;
}
.team-row{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}
.team-col{
  width:57%;
  padding:10px 10px ;
}
.team-icn{
  font-size:30px;
  padding-top:40px;
}

/*contact section*/
.contact-container{
  width:100%;
  margin:auto;
}
#Contact{
  height:65vh;
}
.contact-row{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}
.contact-col{
  width:50%;
  padding:0 10px;
}
  
/*pricing section*/

#pricing-container{
  background-color:#ffff;
  width:100%;
  margin:auto;
  margin-top:50px;
}

.pricing-col{
  width:100%;
  padding-bottom: 40px;
}
.pricing-row{
  width:50%;
  display:flex;
  flex-wrap:wrap;
}

/*blog section*/
.blog-container{
  padding-left:15%;
}
.blog-row{
  padding-left:50px;
}
.blog-col{
  width:90%;
  display:flex;
}
.blog-col p{
  padding-left:45%;
}

/*footer section*/

#footer{
  background-color:#34495E;
}
.footer-row{
  width:50%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.footer-col{
  width:60%;
}
}

/*ipad*/
	
@media(min-width:650px){
/*header section*/
.container{
  width:100%;
  margin:auto;
}
.maindivimage{
  height:33vh;
}
.head-nav{
  display: none;
}

/*about section*/
.about-container{
  width:100%;
}
.about-row{
  width:100%;
  display:flex;
}
.about-col{
  width:100%;
  padding:0 10px;
}
  
/*service section*/
.service-container{
  margin:auto;
}
.service-row{
  display:flex;
  flex-wrap:wrap;
}
.service-col{
  width:60%;
}
.service-container h2{
  text-align:center;
  padding:30px;
}
.service-container h3{
  text-align:center;
  padding:10px;
  font-size:22px;
}
.service-container p{
  font-size:30px;
  text-indent:15%;
  margin-bottom:20px;
}

/*portfolio section*/
.portfolio-row{
  display:flex;
}
.portfolio-col{
  width:60%;
}
  
/*team section*/
.team-container{
  width:100%;
  margin:auto;
}
.team-row{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}
.team-col{
  width:70%;
  padding:10px 50px ;
}
.team-icn{
  font-size:40px;
  padding-top:30px;
  padding-bottom:30px;
}
.ic-1{
  padding:0px 45px;
}
.ic-2{
  padding:0px 90px;
}
.ic-3{
  padding:0px 135px;
}
.ic-4{
  padding:0px 185px;
}
.team-card1{
  padding:20px 190px;
}
.team-card2{
  padding:20px 190px;
}
.team-card3{
  padding:20px 190px;
}
.team-card4{
  padding:20px 190px;
}
.team-card5{
  padding:20px 190px;
}
.team-card6{
  padding:20px 190px;
}
/*contact section*/
.contact-container{
  width:100%;
  margin:auto;
}
#Contact{
  background-color:#BFC9CA;
  height:65vh;
}
.contact-row{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}
.contact-col{
  width:80%;
  padding:0 10px;
}
.contact-row2{
  width:100%;
  display:flex;
}
/*pricing section*/
#pricing-container{
  background-color:#ffff;
  width:100%;
  margin:auto;
  margin-top:50px;
}
.pricing-col{
  width:100%;
  
}
.pricing-row{
  width:55%;
  display:flex;
  flex-wrap:wrap;
}

/*blog section*/
.blog-container{
  width:100%;
  padding-left:10%;
}
.blog-row{
  padding:30px;
}
.blog-row2{
  padding:30px;
}
.blog-row3{      
  padding:30px;
}
.blog-col{
  width:100%;
  display: block;
  /*display: contents;*/
}  
.blog-col p{
  font-size: 20px;
  padding-left:50px;
}
    
/*footer section*/
#footer{
  background-color:#34495E;
}
.footer-row{
  width:50%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.footer-col{
  width:60%;
}
}
  
	/*laptop */
@media(min-width:1000px){
  
/*header section*/
#sidebar-container{
  display: none;
}
.container{
  width:100%;
  display:flex;
  margin:auto;
}
.maindivimage{
  height:100vh;
}
.head-nav{
  display: block;
}

/*about section*/
.about-container{
    width:100%;
}
.about-row{
  width:100%;
  display:flex;
}
.about-col{
  width:100%;
  padding:0 10px;
}
  
/*service section*/
.service-container{
  margin:auto;
}
.service-row{
  display:flex;
  flex-wrap:wrap;
}
.service-col{
  padding:20px 30px;
  width:33%;
}
.service-container h2{
  text-align:center;
  padding:20px;
}
.service-container h3{
  text-align:center;
  padding:10px;
  font-size:22px;
}
.service-container p{
  font-size:22px;
  text-indent:15%;
  margin-bottom:20px;
}

/*portfolio section*/
  
.portfolio-row{
  display:flex;
  flex-wrap:wrap;
  padding-right:9px;
}
.portfolio-col{
  width:30%;
  position:relative;
}
  
/*team section*/

.team-container{
  width:100%;
  margin:auto;
}
.team-row{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}
.team-icn{
  font-size:30px;
  padding-top:30px;
  position:relative;
}
.team-col{
  width:33.33%;
  padding:10px 10px ;
}
.team-card1{
  padding:10px 110px;
}
.team-card2{
  padding:10px 110px;
}
.team-card3{
  padding:10px 110px;
}
.team-card4{
  padding:10px 110px;
}
.team-card5{
  padding:10px 110px;
}
.team-card6{
  padding:10px 110px;
}

/*contact section*/
.contact-container{
  width:100%;
  margin:auto;
}
#Contact{
  background-color:#B3B6B7 ;
  height:100vh;
}
.contact-row{
  width:100%;
  display:flex;
}
.contact-col{
  width:50%;
  padding:0 10px;
}

/*pricing section*/

#pricing-container{
  background-color:#ffff;
  width:100%;
  display:flex;
}
.pricing-col{
  width:90%;
}
.pricing-row{
  width:50%;
}

/*blog section*/
.blog-container{
  width:100%;
  padding-left:10%;
}
.blog-row{
  padding:30px;
}
.blog-row2{
  padding:30px;
}
.blog-row3{
  padding:30px;
}
.blog-col{
  width:90%;
  display: inline-flex;
}
.blog-col p{
  padding-left:50px;
}

/*footer section*/

.footer-row{
  width:100%;
  display:flex;
  justify-content:space-evenly;
}
.footer-col{
  width:25%;
}

}
